@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  -webkit-tap-highlight-color: transparent;
}

svg {
  @apply block align-top;
}

input,
textarea {
  @apply min-w-0 appearance-none focus:outline-none focus:ring-1 focus:ring-gray-200;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  @apply appearance-none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply m-0 appearance-none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-[#ff9999];
}

::selection {
  @apply bg-[#ff9999];
}

img {
  position: relative;
}

img::before {
  @apply absolute top-0 left-0 block h-full w-full bg-gray-100;
  content: "";
}

img::after {
  @apply absolute left-1/2 top-1/2 block -translate-x-1/2 -translate-y-1/2 bg-transparent text-2xl font-bold text-gray-400;
  content: ":(";
}

.flicking-pagination {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.flicking-pagination-bullets,
.flicking-pagination-scroll {
  font-size: 0;
}

.flicking-pagination-scroll {
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.flicking-pagination-scroll .flicking-pagination-slider {
  transition: 0.2s transform;
}
.flicking-pagination-scroll.flicking-pagination-uninitialized
  .flicking-pagination-slider,
.flicking-pagination-scroll.flicking-pagination-uninitialized
  .flicking-pagination-bullet {
  transition: none;
}

.flicking-pagination-bullet {
  @apply bg-gray-800 opacity-75;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.flicking-pagination-scroll .flicking-pagination-bullet {
  vertical-align: middle;
  position: relative;
  transition: 0.2s transform;
}

.flicking-pagination-bullet-active {
  @apply bg-red;
}

.flicking-pagination-scroll .flicking-pagination-bullet {
  vertical-align: middle;
  position: relative;
  transition: 0.2s transform, 0.2s left;
  transform: scale(0);
}

.flicking-pagination-scroll .flicking-pagination-bullet-active {
  transform: scale(1);
}

.flicking-pagination-scroll .flicking-pagination-bullet-prev,
.flicking-pagination-scroll .flicking-pagination-bullet-next {
  transform: scale(0.66);
}

.flicking-pagination-scroll .flicking-pagination-bullet-prev2,
.flicking-pagination-scroll .flicking-pagination-bullet-next2 {
  transform: scale(0.33);
}
